body{
	background: white;
}

#button-previous{
  background: url(../../public/arrow-prev.png) no-repeat center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#button-next{
  background: url(../../public/arrow-next.png) no-repeat center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  float: right;
}

#mainDiv{
  display: inline-block;
}

/* Some basic styles for the calendar */
table {
    border-collapse: collapse;
    }

td, th {
    border: 1px solid black;
    padding: 0.5em;
    text-align: center;
    }

/* Use a different style for the dates that are not in the current month */
td.not-current {
    color: #ccc;
    }
