body{
  background: white;
}

#button-previous{
  background: url(../../public/arrow-prev.png) no-repeat center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#button-next{
  background: url(../../public/arrow-next.png) no-repeat center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  float: right;
}

#mainDiv{
  display: inline-block;
}

/* Some basic styles for the calendar */
table {
  border-collapse: collapse;
  border-radius: 10px;
}

td, th {
  width: 2em;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.non-empty:hover {
  background-color: #ADD8E6;
  cursor: pointer;
}

#currentday {
  color: #FF0000;
}
